table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    background-color: #eeeeee;
  }
  
  th,td {
    padding: 20px;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }

  tbody tr:nth-child(odd) {
    background-color: skyblue;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eeeeee;
  }
