table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    background-color: #eeeeee;
  }
  
  th,
  td {
    padding: 20px;
  }

  html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
  }
  
  thead th,
  tfoot th {
    font-family: "Rock Salt", cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }

  tbody tr:nth-child(odd) {
    background-color: skyblue;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eeeeee;
  }
